[submodule "data/library"]
	path = data/library
	url = git@github.com:wheelofheaven/data-library.git
	branch = main
[submodule "data/content"]
	path = data/content
	url = git@github.com:wheelofheaven/data-content.git
	branch = main
[submodule "data/bibliography"]
	path = data/bibliography
	url = git@github.com:wheelofheaven/data-bibliography.git
	branch = main
